/* Spinner Overlay */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Use viewport width */
    height: 100vh; /* Use viewport height */
    background-color: white; /* Set background color while loading */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure spinner is on top */
}

/* Media Queries for Mobile */

/* For screen width below 768px (tablet and mobile) */
@media (max-width: 768px) {
    .spinner-overlay {
        width: 100vw; /* Ensure full viewport width */
        height: 100vh; /* Ensure full viewport height */
    }
}

/* For screen width below 576px (mobile view) */
@media (max-width: 576px) {
    .spinner-overlay {
        width: 100vw; /* Ensure full viewport width */
        height: 100vh; /* Ensure full viewport height */
    }
}
